$tan: #fefae0;
$leaf: #94D2BD;
$bg-gradient: linear-gradient(180deg, rgba(156,156,164,1) 0%, rgba(43,45,66,1) 60%, rgba(46,0,40,1) 100%);
$avatar-color: #003554;


.hero{
    font-family: 'BhuTuka Expanded One', cursive;
    font-weight: 1000;
    font-size: 36px;
    margin: 0%;
    padding-top: 0.5em;
    padding-left: 0.5em;
    text-shadow: 0.5px 0.5px grey;
}

.account-screen{
    font-family: 'Combo', cursive;
    font-size: 28px;
    box-shadow: 5px 5px 20px black;
}

.submit{
    width: 50%;
    align-self: center;
}

.scroll-box{
    overflow-y: scroll;
    // position: absolute;
    height: 100%;
}

.App{
    background: $bg-gradient;
    position: relative;
    min-height: 100vh;

}

.list-names{
    margin-left: 5%;
    padding-right: 10%;
}

#item-labels{
    margin-left: 3%;
}
