.hero{
    font-family: 'BhuTuka Expanded One', cursive;
    font-weight: 1000;
    font-size: 36px;
    margin: 0%;
    padding-top: 0.5em;
    padding-left: 0.5em;
    text-shadow: 0.5px 0.5px grey;
}

.account-screen{
    font-family: 'Combo', cursive;
    font-size: 28px;
}

.account-screen > .ind-cards{
    background-color: #fefae0;
}

.submit{
    width: 50%;
    align-self: center;
}

.scroll-box{
    overflow-y: scroll;
    // position: absolute;
    height: 100%;
}

.App{
    background: rgb(156,156,164);
    background: linear-gradient(180deg, rgba(156,156,164,1) 0%, rgba(43,45,66,1) 60%, rgba(46,0,40,1) 100%);
    position: relative;
    min-height: 100vh;

}
